{% extends "base.html" %}

{% block title %}Welcome to Blue Onyx{% endblock %}

{% block content %}
<!-- Embedded Logo -->
<img src="{{ logo_data }}" alt="Blue Onyx Logo" class="logo">

<h1>Welcome to Blue Onyx</h1>
<p>Object Detection</p>
<p>Version: {{ metrics.version }}</p>
<p>Uptime: {{ metrics.uptime() }}</p>
<p>Requests: {{ metrics.number_of_requests }}</p>
<p>Model: {{ metrics.model_name }}</p>
<p>Device: {{ metrics.device_name }}</p>
<p>Onnx Execution Provider: {{ metrics.execution_provider_name }}</p>
<p>Log path: {{ metrics.log_path }}</p>
{% endblock %}

{% block links %}
<div class="links">
    <a href="/stats"><i class="fas fa-chart-bar"></i> Server Stats</a>
    <a href="/test"><i class="fas fa-upload"></i> Image Test</a>
</div>
{% endblock %}